/* --------------------Layouts------------------- */

/* basic styling of document elements to allow for overall layout */
html {
    position: relative;
    min-height: 100%;
}

/*  */
body {
    margin: 0 0 120px;
    /* bottom = footer height */
}

/* styling of header container */
#header {
    position: relative;
    top:0;
    margin-top:-24px;
    background-color:#d8bb6f;
    height:80px;
    width:100%;
}

/* styling of large container holding blurb, question and answer components */
#question-area {
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
}

/* Styling of input container where people can ask a question */
#question-text {
    border: 3px solid #d8bb6f;
    margin-left: auto;
    margin-right:auto;
    padding:10px;
    width:572px;
    margin-top:-4px;
}

/* Styling of the container where Svetlana's answers are displayed */
#answer-area {
    border: 3px solid #423770;
    height:120px;
    padding:10px;
    margin-top:10px;
    margin-bottom: 14px;
}

/* #harp,
#fireball,
#intro {
    display: none;
} */

/* Styling of footer container */
#footer {
    height:120px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    background-color:#d8bb6f;
}

/* -------------------Typography-------------------- */

/* Custom font for use in site */
@font-face {
    font-family: besley-hand;
    src: url(besley_hand.otf);
}

/* Headings */
p,
h1,
h3,
h4,
textarea,
#answer-text,
.button-text {
	font-family: 'Source Sans Pro', 'Helvetica', Arial, sans-serif;
}

h2 {
    font-size:28px;
    color:#423770;
    font-family: besley-hand;
}

/* override normal paragraph margins to assist with vertically centering text */
.no-text-margin {
    margin-top: 0px;
    margin-bottom: 0px;
}

/*horizontal centering of the header and footer text and their containers */
.header-textbox,
.footer-textbox {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

/* Line height to assist with vertically centering text in header */
.header-textbox {
    line-height: 80px;
}

/* Line height to assist with vertically centering text in footer */
.footer-textbox {
    line-height:80px;
}
/* Styling for the text where Svetlana introduces herself */
.blurb-text {
    line-height:1.4;
    color:#423770;
    margin-bottom:30px;
}

/* Styling for the placeholder text in the input field where people can ask Svetlana a question */
::placeholder {
    font-family: 'Source Sans Pro', 'Helvetica', Arial, sans-serif;
    font-size:20px;
    font-weight: bold;
    color:#d8bb6f;
}

/* Styling for the question text when people have started typing a question for Svetlana */
textarea {
    font-size:20px;
    font-weight: bold;
    color:#423770;
}

/* Styling of the text where Svetlana answers the question */
#answer-text {
    font-size:20px;
    font-weight: bold;
    color:#423770; 
    line-height:1.4;
}

/* A class that is toggled off to bring focus to Svetlana's answer. When toggled on it shows Svetlana's placeholder answer at lower opacity */
.opacity {
    opacity: 0.2;
}

/* Button text styling */
.reset-button-text,
.ask-button-text {
    font-size:18px;
    font-weight: bold;
}

/* Styling of the footer text */
#footer p {
    color:#423770;
    font-weight:bold;
    font-family:besley-hand;
    font-size:24px;
}

/* --------------Buttons----------------- */

/* Styling for the button to request an answer from Svetlana */
.ask-button {
    height:40px;
    width:160px;
    line-height:40px;
    text-align:center;
    color: #423770;
    background-color:#d8bb6f;
    border: 3px solid #423770;
    margin-top:10px;
    margin-bottom:14px;
}

.ask-button:hover {
    height:40px;
    width:160px;
    line-height:40px;
    text-align:center;
    color: #534880;
    background-color:#e9cccf;
    border-color: #d8bb6f;
}

/* Styling for the button to reset Svetlana */
.reset-button {
    height:40px;
    width:160px;
    line-height:40px;
    text-align:center;
    color: #d8bb6f;
    background-color:#423770;
    border: 3px solid #d8bb6f;
}

.reset-button:hover {
    height:40px;
    width:160px;
    line-height:40px;
    text-align:center;
    color: #e9cccf;
    background-color:#534880;
    border-color: #423770;
}